parameters:
    level: 7

    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - identifier: missingType.iterableValue

    paths:
        - src
    excludePaths:
        - src/Console/Installer.php
